@using GUI.Models.DTOs.Order_DTO
@using System.Globalization
@model List<OrderDetail>

@if (Model is null || Model.Count == 0)
{
    <p class="text-center">Trống</p>
}
else
{
    <table class="table table-fixed table-fixed table-lock-height">
    <thead>
        <tr>
            <th>Mã hóa đơn</th>
            <th>Khách hàng</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Code</td>
                    <td>@order.Customer.Name</td>
                    <td>@order.PaymentInfo.FinalAmount.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</td>
                    <td class="d-flex justify-content-between">
                        <button class="btn btn-success" onclick="show('@order.Id')">Chi tiết</button>
                        <button class="btn btn-danger" onclick="removeDraft('@order.Id')">Xóa</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}