@using System.Globalization
@model GUI.Models.DTOs.Order_DTO.OrderDetail

@{
    Layout = "_Layout";
}

@if (string.IsNullOrEmpty(Model.CustomerName))
{
    <p class="text-danger text-center">Lỗi không tìm thấy</p>
}
else
{
    <div class="container row">
        <div class="col-md-8">
            <h3>Danh sách sản phẩm</h3>
            <hr/>
            @foreach (var item in Model.Items)
            {
                <div class="mb-3 row">
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="@item.ProductImage" alt="@item.ProductName"/>
                    </div>
                    <div class="col-md-8">
                        <p>@item.ProductName</p>
                        <p>@item.Price.ToString("C", CultureInfo.GetCultureInfo("vi-VN")) x @item.Quantity</p>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <h3>Thông tin</h3>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Tên:</td>
                    <td>@Model.CustomerName</td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td>@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <td>Địa chỉ giao hàng:</td>
                    <td>@Model.ShippingAddress</td>
                </tr>
                <hr/>
                <tr>
                    <td>Trạng thái:</td>
                    <td>@Model.StatusText</td>
                </tr>
                <tr>
                    <td>Phương thức thanh toán: </td>
                    <td>@Model.PaymentMethodName</td>
                </tr>
                <tr>
                    <td>Voucher:</td>
                    <td>@Model.VoucherDiscountAmount.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</td>
                </tr>
                <tr>
                    <td>Khuyến mãi: </td>
                    <td>@Model.DiscountAmout.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</td>
                </tr>
                <tr>
                    <td>Tổng:</td>
                    <td>@Model.TotalAmount.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</td>
                </tr>
                </tbody>
            </table>
            <div class="mb-3 mt-3">
                @if(Model.Status == 0)
                {
                    <button class="btn btn-primary" onclick="confirmOrder()">Xác nhận</button>
                } else
                {
                    <a class="btn btn-primary" asp-controller="Order" asp-action="Index">Trở về</a>
                }
            </div>
        </div>
    </div>
}

@section Scripts {
    <script defer>
        const confirmOrder = () => {
            fetch(ORDER_CONFIRM_API('@Model.Id'), {
                method: 'POST'
            }).then(res => {
                if (res.status == 204) {
                    alert("Xác nhận thành công");
                    window.location.href = "/orders";
                }
            });
        }
    </script>
}