@using System.Globalization
@model List<GUI.Models.DTOs.Order_DTO.OrderDetail>
@{
    Layout = "_LayoutStore";
}
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <h2 class="text-uppercase">Tìm kiếm đơn hàng</h2>
                    <div class="header-search">
                        <form action="OrderChecking">
                            <input class="input" name="s" placeholder="Nhập mã đơn hàng hoặc số điện thoại" value="@(!string.IsNullOrEmpty(ViewBag.OrderSearch) ? ViewBag.OrderSearch : "")">
                            <button class="search-btn">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                @if (Model != null)
                {
                    <p class="orders-header">Đơn hàng</p>
                    foreach (var order in Model)
                    {
                        <div class="order-title">Đơn hàng <strong>@order.Code</strong></div>
                        <div class="order-title">@order.Id</div>
                        <div class="order-info order-summary">
                            <div class="order-col">
                                <div>Sản phẩm</div>
                                <div>
                                    @foreach (var item in order.Items)
                                    {
                                        <p>@item.Quantity x @item.ProductName</p>
                                        <p>@((item.Price * item.Quantity).ToString("C", CultureInfo.GetCultureInfo("vi-VN")))</p>

                                        <br />
                                    }
                                </div>
                            </div>
                            @if (order.ShippingInfo != null && !order.ShippingInfo.IsCustomerTakeYourSelf)
                            {
                                <div class="order-col">
                                    <div>Phí giao hàng</div>
                                    <div><p id="shipping-fee">30000</p></div>
                                </div>
                            }
                            @if (order.PaymentInfo.TotalDiscount > 0)
                            {
                                <div class="order-col">
                                    <div>Giảm giá</div>
                                    <div><p id="shipping-fee">@order.PaymentInfo.TotalDiscount.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</p></div>
                                </div>
                            }
                            <div class="order-col">
                                <div>Tổng thanh toán</div>
                                <div>
                                    <p>
                                        @((order.PaymentInfo.FinalAmount).ToString("C", CultureInfo.GetCultureInfo("vi-VN")))
                                    </p>
                                </div>
                            </div>
                            <div class="order-col">
                                <div>Thông tin khách hàng</div>
                                <div>
                                    @if (order.ShippingInfo != null && !string.IsNullOrEmpty(order.ShippingInfo.Name))
                                    {
                                        <p>@order.ShippingInfo.Name</p>
                                        <p>@order.ShippingInfo.PhoneNumber</p>
                                        <p>@order.ShippingInfo.Address</p>
                                    }
                                    else
                                    {
                                        <p>@order.Customer.Name</p>
                                        <p>@order.Customer.PhoneNumber</p>
                                        <p>@order.Customer.Address</p>
                                    }
                                </div>
                            </div>
                            <div class="order-col">
                                <div>Phương thức thanh toán</div>
                                <div>
                                    <p>
                                        @order.PaymentMethodName
                                    </p>
                                </div>
                            </div>
                            <div class="order-col">
                                <div>Trạng thái thanh toán</div>
                                <div>
                                    <strong>
                                        @order.PaymentInfo.PaymentStatus
                                    </strong>
                                </div>
                            </div>
                            <div class="order-col">
                                <div>Trạng thái đơn hàng</div>
                                <div>
                                    <strong>
                                        @order.StatusText
                                    </strong>
                                </div>
                            </div>
                            <div class="order-col">
                                <div>Thời gian đặt hàng</div>
                                <div>
                                    <strong>
                                        @order.Created
                                    </strong>
                                </div>
                            </div> @*VANH*@
                        </div>
                        <hr />
                    }
                }
            </div>
        </div>
    </div>
</div>

<style>
    .order-summary .order-col > div:last-child {
        width: 300px;
    }
</style>