@using GUI.Models.DTOs.Voucher_DTO
@using System.Globalization
@model IEnumerable<VoucherDTO>

<div class="container">
  <div class="mb-3 d-flex justify-content-end p-3">
    <a class="btn btn-primary" href="vouchers/create">Thêm mới</a>
  </div>
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Tên voucher</th>
        <th>Mã</th>
        <th>Số tiền giảm</th>
        <th>Thời gian hiệu lực</th>
@*         <th>Trạng thái</th> *@
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var voucher in Model)
      {
        <tr>
          <td>@voucher.Name</td>
          <td>@voucher.Code</td>
          @if(voucher.Unit == DATN_ACV_DEV.Entity.VoucherUnit.Percent)
          {
            <td>@voucher.Discount %</td>
          }
          else
          {
            <td>@voucher.Discount.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</td>
          }
          <td>@voucher.StartDate.ToString("dd/MM/yyyy") - @voucher.EndDate.ToString("dd/MM/yyyy")</td>
          @* <td>@voucher.Status</td> *@
          <td>
            <a class="btn btn-primary text-nowrap me-2" asp-controller="Voucher" asp-action="Detail" asp-route-id="@voucher.Id">Chi tiết</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>